body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  background-color: aqua;
}

.header {
  height: 150px;
  background-color: brown;
  text-align: center;
}

.order {
  background-color: darkgray;
}

.inventory {
  background-color: green;
}

.adminPanel {
  background-color: black;
  padding: 15px;
}

.form-check-label {
  color: white;
  margin-left: 30px;
}

#bookOnStock {
  margin-top: 7px;
  margin-left: 10px;
}
